<!--Artistas freelancer-->
<section id="artista_freelancer">
    <div class="container-fluid bg_img">
        <div class="container justify-content-center">
            <div class="row">
                <div class="col-md-6 text-white mt-5">
                    <h1 class="mt-5 text-left">Milhares de artistas freelancers prontos para começar a trabalhar</h1>
                    <div class="container d-flex justify-content-left mt-5">
                        <a class="btn btn-danger mr-5 ml-0 mb-3" href="#" role="button">Contrate um artista</a>
                        <button class="p-button mb-3"><b>Trabalhe como artista</b></button>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <img class="tamanho_img mt-4 mb-4 "src="/assets/images/Magico3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Artistas freelancer-->
<!--Como funciona-->
<section id="como_funciona">
    <div class="container-fluid">
        <div class="container justify-content-center">
            <div class="row mt-3">
                <div class="col-md-12 mt-3 mb-3">
                    <h3 class="txt_cinza"><b>Como funciona:</b></h3>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3 txt_cinza mt-1">
                    <h4><b>Demanda:</b></h4>
                    <p class="txt_cinza p_size">Conte-nos como você gostaria que o artista atuasse para você.</p>
                </div>
                <div class="col-md-3 txt_cinza mt-1">
                    <h4><b>Selecione:</b></h4>
                    <p class="txt_cinza p_size">Receba propostas e defina qual artista  você irá contratar.</p>
                </div>
                <div class="col-md-3 txt_cinza mt-1">
                    <h4><b>Contratar:</b></h4>
                    <p class="txt_cinza p_size">Agende o horário desejado, e pague o valor hora correspondente.</p>
                </div>
                <div class="col-md-3 txt_cinza mt-1">
                    <h4><b>Finalize:</b></h4>
                    <p class="txt_cinza p_size">Após o trabalho finalizado, a plataforma libera o pagamento total para o artista.</p>
                </div>
                <div class="container d-flex justify-content-left mt-5">
                    <a class="btn btn-danger mr-5 ml-0" href="#" role="button">Contrate um artista</a>
                    <button class="p-button txt_cinza"><b>Trabalhe como artista</b></button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Como funciona-->
<!--Exemplos-->
<section>
    <div class="container-fluid bg_img">
        <div class="container justify-content-center">
            <div class="row mt-3">
                <div class="col-md-12 mt-3 mb-3">
                    <h3 class="text-white"><b>Exemplos:</b></h3>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4 mt-3 mb-3">
                    <img class="tamanho_exemplo mb-3 mx-auto d-block" src="/assets/images/chapeu.png">
                    <p class="text-white p_size text-center">Mágicos para vislumbrar sua audiência.</p>
                </div>
                <div class="col-md-4 mt-3 mb-3">
                    <img class="tamanho_exemplo mb-3 mx-auto d-block" src="/assets/images/spray.png">
                    <p class="text-white p_size text-center">Grafiteiros para trazer vida às suas superfícies.</p>
                </div>
                <div class="col-md-4 mt-3 mb-3">
                    <img class="tamanho_exemplo mb-3 mx-auto d-block" src="/assets/images/violao.png">
                    <p class="text-white p_size text-center">Músicos para animar suas festas.</p>
                </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-4 mt-3 mb-3">
                  <img class="tamanho_exemplo mb-3 mx-auto d-block" src="/assets/images/Break.png">
                  <p class="text-white p_size text-center">Dançarinos de vários estilos para aquela festa de debutante.</p>
              </div>
              <div class="col-md-4 mt-3 mb-3">
                  <img class="tamanho_exemplo mb-3 mx-auto d-block" src="/assets/images/mascaras-de-teatro.png">
                  <p class="text-white p_size text-center">Atores de teatro para colocar suas ideias em prática.</p>
              </div>
              <div class="col-md-4 mt-3 mb-3">
                  <img class="tamanho_exemplo mb-3 mx-auto d-block" src="/assets/images/clown.png">
                  <p class="text-white p_size text-center">Mágicos para vislumbrar sua audiência.</p>
              </div>
          </div>
        </div>
    </div>
</section>
<!--/Exemplos-->
