.tamanho_img {
    width: 400px;
    height: 400px;
}

.bg_img {
    background-color: #20115F;
}

.p-button {
    padding: 0px;
    border: 0px none;
    background-color: transparent;
    color: #ffffff;
}

.btn-danger {
    color: #ffffff;
    background-color: #73C1B8;
    border-color: #73C1B8;
}

.txt_cinza {
    color: #5a5a5a;
}

.p_size {
    font-size: 16pt;
}

.tamanho_exemplo {
    width: 100px;
    height: 100px;
}

.btn-outline-info {
    color: #73C1B8;
    border-color: #73C1B8;
}

.btn-outline-info:hover {
    color: #ffffff;
    background: #73C1B8;
}

.btn-outline-dark {
    color: #20115F;
    border-color: #20115F;
}

.btn-outline-dark:hover {
    color: #ffffff;
    background: #20115F;
}

.contrate:hover {
    background: #20115F;
    border-color: #20115F
}


.our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}

.our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #20115F;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
    height: 100%;
}

.our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #20115F;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
    box-shadow: 0 0 0 14px #fff;
    transform: scale(0.7);
}

.our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}

.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #20115F;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social {
    bottom: 0;
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.our-team .social li a:hover {
    color: #20115F;
    background-color: #fff;
}

.our-card:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.our-card {
    max-width: 300px;
    box-shadow: -5px 2px 18px 4px #ccc;
}