<!--Artistas freelancer-->
<section id="artista_freelancer">
    <div class="container-fluid bg_img">
        <div class="container justify-content-center">
            <div class="row mb-5">
                <div class="col-md-6 text-white mt-5 w-100">
                    <h1 class="mt-5 text-left">Milhares de artistas freelancers prontos para começar a trabalhar</h1>
                    <div class="d-flex justify-content-left mt-5 mb-5">
                        <button class="btn btn-danger my-2 my-sm-0 rounded-pill mb-3 font-weight-bold" type="button" (click)="entrar()">Contrate um artista</button>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <img class="tamanho_img mt-4 mb-4 " src="/assets/images/Magico.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Artistas freelancer-->
<!--Como funciona-->
<section id="como_funciona">
    <div class="container-fluid">
        <div class="container justify-content-center">
            <div class="row mt-5 mb-5">
                <div class="col-md-12 mt-3 mb-3">
                    <h3 class="txt_cinza"><b>Como funciona:</b></h3>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3 txt_cinza mt-1">
                    <h4><b>Demanda:</b></h4>
                    <p class="txt_cinza p_size">Conte-nos como você gostaria que o artista atuasse para você.</p>
                </div>
                <div class="col-md-3 txt_cinza mt-1">
                    <h4><b>Selecione:</b></h4>
                    <p class="txt_cinza p_size">Receba propostas e defina qual artista você irá contratar.</p>
                </div>
                <div class="col-md-3 txt_cinza mt-1">
                    <h4><b>Contratar:</b></h4>
                    <p class="txt_cinza p_size">Agende o horário desejado, e pague o valor hora correspondente.</p>
                </div>
                <div class="col-md-3 txt_cinza mt-1">
                    <h4><b>Finalize:</b></h4>
                    <p class="txt_cinza p_size">Após o trabalho finalizado, a plataforma libera o pagamento total para o artista.</p>
                </div>
                <div class="container d-flex justify-content-left mt-5 mb-5">
                    <button class="btn btn-danger contrate my-2 my-sm-0 rounded-pill font-weight-bold" type="button" (click)="entrar()">Contrate um artista</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Como funciona-->
<!--Exemplos-->
<section id="exemplos">
    <div class="container-fluid bg_img">
        <div class="container justify-content-center">
            <div class="row mt-5 mb-5">
                <div class="col-md-12 mt-5 mb-5">
                    <h3 class="text-white mt-3"><b>Contrate serviços como:</b></h3>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-4 mb-3">
                    <img class="tamanho_exemplo mb-3 mx-auto d-block" src="/assets/images/Chapeu.svg">
                    <p class="text-white p_size text-center">Mágicos para vislumbrar sua audiência.</p>
                </div>
                <div class="col-md-4 mt-3 mb-3">
                    <img class="tamanho_exemplo mb-3 mx-auto d-block" src="/assets/images/Spray.svg">
                    <p class="text-white p_size text-center">Grafiteiros para trazer vida às suas superfícies.</p>
                </div>
                <div class="col-md-4 mt-3 mb-3">
                    <img class="tamanho_exemplo mb-3 mx-auto d-block" src="/assets/images/Violao.svg">
                    <p class="text-white p_size text-center">Músicos para animar suas festas.</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4 mt-3 mb-3">
                    <img class="tamanho_exemplo mb-3 mx-auto d-block" src="/assets/images/Break.svg">
                    <p class="text-white p_size text-center">Dançarinos de vários estilos para aquela festa de debutante.</p>
                </div>
                <div class="col-md-4 mt-3 mb-3">
                    <img class="tamanho_exemplo mb-3 mx-auto d-block" src="/assets/images/Mascara_teatro.svg">
                    <p class="text-white p_size text-center">Atores de teatro para colocar suas ideias em prática.</p>
                </div>
                <div class="col-md-4 mt-3 mb-3">
                    <img class="tamanho_exemplo mb-3 mx-auto d-block" src="/assets/images/Clown.svg">
                    <p class="text-white p_size text-center mb-5">Mágicos para vislumbrar sua audiência.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Exemplos-->
<!--About-->
<section id="equipe">
    <div class="container justify-content-center">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h3 class="txt_cinza mt-3"><b>Equipe:</b></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 d-flex justify-content-center mt-5">
                <div class="card border-0 mt-2" style="width: 18rem;">
                    <div class="d-flex justify-content-center">
                        <img src="https://avatars3.githubusercontent.com/u/29695906?s=400&u=685e4e37b581dd5b2fbfe84b22381fa14a3a26a7&v=4" class="card-img-top rounded-circle w-75" alt="Imagem perfil do card">
                    </div>
                    <div class="card-body mt-2">
                        <h5 class="card-title text-center font-weight-bold txt-cinza">Caio Myra Pereira</h5>
                        <p class="card-text text-center txt-cinza">Desenvolvedor Full Stack Java</p>
                        <a href="https://www.linkedin.com/in/caio-myra-pereira-0625ba128/" class="btn btn-outline-info mb-3 d-flex justify-content-center font-weight-bold" target="_blank">Linkedin</a>
                        <a href="https://github.com/caiomyrapereira" class="btn btn-outline-dark d-flex justify-content-center font-weight-bold" target="_blank">Github</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center mt-5">
                <div class="card border-0 mt-2" style="width: 18rem;">
                    <div class="d-flex justify-content-center">
                        <img src="https://avatars2.githubusercontent.com/u/37086158?s=400&u=0fda93f0adcba5011c11a84ed113448500cb746c&v=4" class="card-img-top rounded-circle w-75" alt="Imagem perfil do card">
                    </div>

                    <div class="card-body mt-2">
                        <h5 class="card-title text-center font-weight-bold txt-cinza">Erick Neves</h5>
                        <p class="card-text text-center txt-cinza">Desenvolvedor Full Stack Java</p>
                        <a href="https://www.linkedin.com/in/erick-neves-aba959151/" class="btn btn-outline-info mb-3 d-flex justify-content-center font-weight-bold" target="_blank">Linkedin</a>
                        <a href="https://github.com/Erick-Neves" class="btn btn-outline-dark d-flex justify-content-center font-weight-bold" target="_blank">Github</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center mt-5 mb-5">
                <div class="card border-0 mt-2" style="width: 18rem;">
                    <div class="d-flex justify-content-center">
                        <img src="https://avatars1.githubusercontent.com/u/54065901?s=460&u=1c8635518199c7a0d94cbebf2c48888720f912c5&v=4" class="card-img-top rounded-circle w-75" alt="Imagem perfil do card">
                    </div>

                    <div class="card-body mt-2">
                        <h5 class="card-title text-center font-weight-bold txt-cinza">Felipe Caetano</h5>
                        <p class="card-text text-center txt-cinza">Desenvolvedor Full Stack Java</p>
                        <a href="https://www.linkedin.com/in/felipe-borges-caetano-78627416a/" class="btn btn-outline-info mb-3 d-flex justify-content-center font-weight-bold" target="_blank">Linkedin</a>
                        <a href="https://github.com/caetano-felipe" class="btn btn-outline-dark d-flex justify-content-center font-weight-bold" target="_blank">Github</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center mt-5 mb-5">
                <div class="card border-0 mt-2" style="width: 18rem;">
                    <div class="d-flex justify-content-center">
                        <img src="https://avatars2.githubusercontent.com/u/72390868?s=460&u=c5aee7ae14af53ff1fc98519558fcd0a2578d5c3&v=4" class="card-img-top rounded-circle w-75" alt="Imagem perfil do card">
                    </div>

                    <div class="card-body mt-2">
                        <h5 class="card-title text-center font-weight-bold txt-cinza">Gustavo Souza</h5>
                        <p class="card-text text-center txt-cinza">Desenvolvedor Full Stack Java</p>
                        <a href="https://www.linkedin.com/in/gustavo-souza-01b7694b/" class="btn btn-outline-info mb-3 d-flex justify-content-center font-weight-bold" target="_blank">Linkedin</a>
                        <a href="https://github.com/gssouza10" class="btn btn-outline-dark d-flex justify-content-center font-weight-bold" target="_blank">Github</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/About-->
