.tamanho_img {
    width: 400px;
    height: 400px;
}

.bg_img {
    background-color: #20115F;
}

.p-button {
    padding: 0px;
    border: 0px none;
    background-color: transparent;
    color: #ffffff;
}

.btn-danger {
    color: #ffffff;
    background-color: #73C1B8;
    border-color: #73C1B8;
}

.txt_cinza {
    color: #5a5a5a;
}

.p_size {
    font-size: 16pt;
}

.tamanho_exemplo {
    width: 100px;
    height: 100px;
}

.btn-outline-info {
    color: #5a5a5a;
    border-color: #73C1B8;
}

.btn-outline-info:hover {
    color: #ffffff;
    background: #73C1B8;
}

.btn-outline-dark {
    color: #5a5a5a;
    border-color: #20115F;
}

.btn-outline-dark:hover {
    color: #ffffff;
    background: #20115F;
}

.contrate:hover {
    background: #20115F;
    border-color: #20115F
}