<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-4">
            Prefil
        </div>
        <div class="col-md-8">
            <div class="row mt-5 mb-5">
                <div class="col-md-12">
                    <h3 class="text-center mb-4 text-monospace">Cadastro de um novo Artiste</h3>
                    <div class="form-group">
                        <label class="text-monospace" for="nome">Nome do Artiste: </label>
                        <input class="form-control" id="nome" rows="3" placeholder="Digite aqui o nome do Artiste" [(ngModel)]="produto.nome">
                    </div>
                    <div class="form-group">
                        <label class="text-monospace" for="categoria">Selecione a categoria: </label>
                        <select name="categoria" id="categoria" class="form-control" [(ngModel)]="idCategoria">
                          <option *ngFor="let item of listaCategorias" value={{item.id}} >
                              {{item.nome}}
                          </option>
                      </select>
                    </div>
                    <div class="form-group">
                        <label class="text-monospace" for="tipo">Tipo: </label>
                        <input class="form-control" id="tipo" rows="3" placeholder="Digite aqui o Tipo do Artiste" [(ngModel)]="produto.tipo">
                    </div>
                    <div class="form-group">
                        <label class="text-monospace" for="valor-hora">Valor hora: </label>
                        <input class="form-control" id="valor-hora" rows="3" placeholder="Digite aqui o valor por hora do Artiste" [(ngModel)]="produto.valorHora">
                    </div>
                    <div class="form-group">
                        <label class="text-monospace" for="localidade">Localidade: </label>
                        <input class="form-control" id="localidade" rows="3" placeholder="Digite aqui a localidade do Artiste" [(ngModel)]="produto.localidade">
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-12 d-flex justify-content-center">
                            <button class="btn btn-outline-success w-25" (click)="salvar()">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>