<footer class="container-fluid  page-footer font-small footer-color ">
    <div class="container-xl pb-2 pt-2">
        <div class="row">
            <div class="col-md-12 row">
                <div class="col-0 col-xl-3 col-lg-3 d-flex align-items-center justify-content-center">
                    <span class="text-light d-none d-xl-block d-lg-block"><img class="logo mx-auto d-block" src="/assets/images/LOGO_INTEGRADOR.png" alt=""></span>
                </div>
                <div class="col-6 col-xl-6 col-lg-6 d-flex align-items-center justify-content-center">
                    <p class="m-0 d-none d-xl-block d-lg-block text-white">©Copyright 2020 JobArt - Todos os direitos reservados</p>
                    <p class="m-0 d-block d-xl-none d-lg-none  text-white">©2020 JobArt</p>
                </div>
                <div class="col-6 col-xl-3 col-lg-3 d-flex align-items-center justify-content-center">
                    <div>
                        <a href="https://github.com/caetano-felipe/ProjetoIntegradorGeneration" target="_blank" class="icoGithub mx-auto d-block" title="Github">
                            <fa-icon [icon]="faGithub" class="faGithub fa-3x p-2"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>