<footer class="page-footer font-small footer-color pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center m-2">
        <ul class="social-network">
          <li>
            <span class="text-light"><img class="logo mb-4" src="/assets/images/LOGO_INTEGRADOR.png" alt=""></span>
          </li>
          <li>
            <a href="https://github.com/caetano-felipe/ProjetoIntegradorGeneration" target="_blank" class="icoGithub" title="Github">
            <fa-icon [icon]="faGithub" class="faGithub fa-3x p-2"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
