main {
    min-height: 100vh;
}

.btn-outline-success {
  color: #73C1B8;
  border-color: #73C1B8;
}

.btn-outline-success:hover {
  color: #ffffff;
  background: #73C1B8;
}

.btn-outline-danger {
  color: #D73146;
  border-color: #D73146;
}

.btn-outline-danger:hover {
  color: #ffffff;
  background: #D73146;
}
