<section id="equipe">
    <div class="container">
        <h2 class="mt-5 font-weight-bold txt-cinza">Equipe:</h2>
        <div class="row">
            <div class="col-md-3 d-flex justify-content-center mt-5">
                <div class="card border-0 mt-2" style="width: 18rem;">
                    <div class="d-flex justify-content-center">
                        <img src="https://avatars3.githubusercontent.com/u/29695906?s=400&u=685e4e37b581dd5b2fbfe84b22381fa14a3a26a7&v=4" class="card-img-top rounded-circle w-75" alt="Imagem perfil do card">
                    </div>
                    <div class="card-body mt-2">
                        <h5 class="card-title text-center font-weight-bold txt-cinza">Caio Myra</h5>
                        <p class="card-text text-center txt-cinza">Desenvolvedor Full Stack Java</p>
                        <a href="https://www.linkedin.com/in/caio-myra-pereira-0625ba128/" class="btn btn-outline-info mb-3 d-flex justify-content-center font-weight-bold" target="_blank">Linkedin</a>
                        <a href="https://github.com/caiomyrapereira" class="btn btn-outline-dark d-flex justify-content-center font-weight-bold" target="_blank">Github</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center mt-5">
                <div class="card border-0 mt-2" style="width: 18rem;">
                    <div class="d-flex justify-content-center">
                        <img src="https://avatars2.githubusercontent.com/u/37086158?s=400&u=0fda93f0adcba5011c11a84ed113448500cb746c&v=4" class="card-img-top rounded-circle w-75" alt="Imagem perfil do card">
                    </div>

                    <div class="card-body mt-2">
                        <h5 class="card-title text-center font-weight-bold txt-cinza">Erick Neves</h5>
                        <p class="card-text text-center txt-cinza">Desenvolvedor Full Stack Java</p>
                        <a href="https://www.linkedin.com/in/erick-neves-aba959151/" class="btn btn-outline-info mb-3 d-flex justify-content-center font-weight-bold" target="_blank">Linkedin</a>
                        <a href="https://github.com/Erick-Neves" class="btn btn-outline-dark d-flex justify-content-center font-weight-bold" target="_blank">Github</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center mt-5 mb-5">
                <div class="card border-0 mt-2" style="width: 18rem;">
                    <div class="d-flex justify-content-center">
                        <img src="https://avatars1.githubusercontent.com/u/54065901?s=460&u=1c8635518199c7a0d94cbebf2c48888720f912c5&v=4" class="card-img-top rounded-circle w-75" alt="Imagem perfil do card">
                    </div>

                    <div class="card-body mt-2">
                        <h5 class="card-title text-center font-weight-bold txt-cinza">Felipe Caetano</h5>
                        <p class="card-text text-center txt-cinza">Desenvolvedor Full Stack Java</p>
                        <a href="https://www.linkedin.com/in/felipe-borges-caetano-78627416a/" class="btn btn-outline-info mb-3 d-flex justify-content-center font-weight-bold" target="_blank">Linkedin</a>
                        <a href="https://github.com/caetano-felipe" class="btn btn-outline-dark d-flex justify-content-center font-weight-bold" target="_blank">Github</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center mt-5 mb-5">
                <div class="card border-0 mt-2" style="width: 18rem;">
                    <div class="d-flex justify-content-center">
                        <img src="https://avatars2.githubusercontent.com/u/72390868?s=460&u=c5aee7ae14af53ff1fc98519558fcd0a2578d5c3&v=4" class="card-img-top rounded-circle w-75" alt="Imagem perfil do card">
                    </div>

                    <div class="card-body mt-2">
                        <h5 class="card-title text-center font-weight-bold txt-cinza">Gustavo Souza</h5>
                        <p class="card-text text-center txt-cinza">Desenvolvedor Full Stack Java</p>
                        <a href="https://www.linkedin.com/in/gustavo-souza-01b7694b/" class="btn btn-outline-info mb-3 d-flex justify-content-center font-weight-bold" target="_blank">Linkedin</a>
                        <a href="https://github.com/gssouza10" class="btn btn-outline-dark d-flex justify-content-center font-weight-bold" target="_blank">Github</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>