<div class="container pt-5 pb-5 d-flex d-flex justify-content-around flex-wrap">
    <div *ngFor="let ser of service; index as i" class="card p-1 rounded mb-5" style="width: 14rem;">
        <img src="https://lh3.googleusercontent.com/proxy/yxc4fjWpn6GkYE3iL-AqLqsuIcUn0h8P937sxSNotrjFHDruRhWQlmOCJsaMyK-t3YMeThPnt9lVz_FlgMpEiE1sABgbTTA5Oqbbd3as-YuD" class="card-img-top rounded" alt="...">

        <div class="container-fluid d-flex justify-content-center p-0">
            <div class="card-body p-3">
                <h5 class="card-title text-center">Magico Mister M</h5>
                <p class="text-center"> Valor/Hora: R$50 </p>
                <p class="card-tex d-flex justify-content-left">Caio caio caio caio caio caio caio caio caio caio caio caio caio</p>
                <div class="d-flex justify-content-center">
                    <a href="#" class="btn btn-danger w-100 rounded-pill">Contrate</a>
                </div>
            </div>
        </div>
    </div>
</div>