.btn-danger {
    color: #ffffff;
    background-color: #73C1B8;
    border-color: #73C1B8;
}

.card {
    color: #ffffff;
    background-color: #1f1f7a;
}

hr {
    border-color: #73C1B8;
}

a,
a:visited {
    text-decoration: none;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin: 50px 0 0;
}

figure {
    margin: 0;
}

.previewScroller {
    display: flex;
    flex-wrap: nowrap;
    overflow: visible;
}

.lookItem {
    position: relative;
    display: block;
    flex: 1 0 300px;
    transition: transform 500ms;
    overflow-y: visible;
}

.item img {
    max-width: 100%;
    overflow-y: visible;
}

.lookItem .item {
    display: block;
    overflow-y: visible;
}

.previewScroller:focus-within .lookItem,
.previewScroller:hover .lookItem {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
}

.lookItem:focus~.lookItem,
.lookItem:hover~.lookItem {
    transform: translateX(25%);
}

.previewScroller .lookItem:focus,
.previewScroller .lookItem:hover {
    transform: scale(1.5);
    z-index: 1;
    overflow-y: visible !important;
}

.lookItem a figcaption,
.lookItem a:visited figcaption {
    font-size: 0.8em;
    line-height: 1.5;
    color: #faf9f5;
    letter-spacing: 0.05em;
    text-align: right;
    text-decoration: none;
    text-shadow: 1px 1px rgba(86, 83, 90, 0.5);
    padding-right: 1em;
    transform: translateY(-2rem);
}


/*bg 56535a*/

.lookItem a:focus figcaption,
.lookItem a:hover figcaption {
    text-decoration: none !important;
}

