<main>
    <div class="container">
        <nav class="d-flex justify-content-center mt-5">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-home-tab" data-toggle="tab" href="#servicos" role="tab" aria-controls="nav-home" aria-selected="true" (click)="ativaProduto()">Serviços</a>
                <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-profile-tab" data-toggle="tab" href="#categorias" role="tab" aria-controls="nav-profile" aria-selected="false" (click)="ativaCategoria()"> Categorias </a>
            </div>
        </nav>
        <div class="tab-content mb-5" id="nav-tabContent">

            <div class="tab-pane fade show active" id="servicos" role="tabpanel" aria-labelledby="nav-postagens-tab">
                <div class="row  mt-3 mb-3  ml-0  mr-0">
                    <div class=" col-12 col-md-10 p-0 m-0">
                        <input class="form-control w-100" type="search" placeholder="Pesquisar tipo de serviços" aria-label="Pesquisar" [(ngModel)]="tipoServico">
                    </div>
                    <div class=" col-12 col-md-2 p-0 m-0">
                        <button class="btn btn-outline-primary w-100" type="button" (click)="findByTipoProduto()">Pesquisar</button>
                    </div>
                </div>
            </div>


            <div class="tab-pane fade" id="categorias" role="tabpanel" aria-labelledby="nav-presenca-tab">
                <div class="row mt-3 mb-3  ml-0  mr-0">
                    <div class="col-md-10 p-0 m-0">
                        <input class="form-control w-100" type="search" placeholder="Pesquisar Categoria" aria-label="Pesquisar" [(ngModel)]="nomeCategoria">
                    </div>
                    <div class="col-md-2 p-0 m-0">
                        <button class="btn  btn-outline-primary w-100" type="button" (click)="findByNomeCategoria()">Pesquisar</button>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="container mp-5 mb-5">

        <div *ngIf="!!pesquisa">
            <div class="pt-5 pb-5 d-flex d-flex justify-content-around flex-wrap">
                <div *ngFor="let item of listaProdutos; index as i" class="card p-1 rounded mb-5" style="width: 14rem;">
                    <div class="servico-img">
                        <img src={{item.imagem}} class="card-img-top rounded" alt="...">
                    </div>
                    <div class="container-fluid d-flex justify-content-center p-0">
                        <div class="card-body p-3">
                            <h5 class="card-title text-center font-weight-bold">{{item.nome}}</h5>
                            <p class="text-center">{{item.categoria.nome}}</p>
                            <p class="card-tex d-flex justify-content-center">{{item.tipo}}</p>
                            <p class="text-center"> R${{item.valorHora }} </p>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-danger w-100 rounded-pill font-weight-bold" (click)='comprar()'>Contrate</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!pesquisa">
            <div *ngFor="let x of listaCategorias; index as i;" class="mp-5 mb-5">
                <h1 class="text-center m-5"> {{x.nome}} </h1>
                <carousel [height]="400" [overflowCellsLimit]="1" [cellWidth]="250">
                    <div class="carousel-cell" *ngFor="let y of x.produto">
                        <div class="card p-1 rounded mb-5 " style="width: 14rem; ">
                            <div class="servico-img">
                                <img src={{y.imagem}} class="card-img-top rounded" alt="... ">
                            </div>
                            <div class="container-fluid d-flex justify-content-center p-0 ">
                                <div class="card-body p-3 ">
                                    <h5 class="card-title text-center font-weight-bold"> {{y.nome}} </h5>
                                    <p class="text-center "> R${{y.valorHora}} </p>
                                    <p class="card-tex d-flex justify-content-center"> {{y.tipo}} </p>
                                    <div class="d-flex justify-content-center ">
                                        <button class="btn btn-danger w-100 rounded-pill font-weight-bold" type="button" (click)='comprar()'>Contrate</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </carousel>
                <hr *ngIf="!(i===( listaCategorias.length - 1)) ">
            </div>
        </div>
    </div>
</main>
