.btn-danger {
    color: #ffffff;
    background-color: #73C1B8;
    border-color: #73C1B8;
}

.btn-outline-primary {
  color:  #1f1f7a;
  border-color: #1f1f7a;
}

.btn-outline-primary:hover {
  color: #ffffff;
  background: #1f1f7a;
}

.card {
    color: #5a5a5a;
    border: 2px solid #20115F;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.card:hover {
    border-color: #D73146;
}

hr {
    border-color: #73C1B8;
}

main {
    min-height: 100vh;
}

.servico-img {
    height: 214px;
}

.servico-img img {
    width: 100%;
    height: 100% !important;
}

carousel {
    z-index: 1;
}

.txt_cinza {
  color: #5a5a5a;
}
