<div class="container-fluid w-100 p-0">
    <nav class="navbar navbar-expand-lg navbar-light navbar-color">
        <a class="navbar-brand" (click)='home()'><img class="logo" src="/assets/images/LOGO_INTEGRADOR.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <div *ngIf='auth.btnLogin()'>
                    <li class="nav-item active">
                        <a class="nav-link text-light font-weight-bold">Artistas Freelancers<span class="sr-only">(página atual)</span></a>
                    </li>
                </div>
                <div *ngIf='auth.btnLogin()'>
                    <li class="nav-item">
                        <a class="nav-link text-light font-weight-bold" href="#como_funciona">Como Funciona</a>
                    </li>
                </div>
                <div *ngIf='auth.btnLogin()'>
                    <li class="nav-item">
                        <a class="nav-link text-light font-weight-bold" href="#exemplos">Contrate</a>
                    </li>
                </div>
                <div *ngIf='auth.btnLogin()'>
                    <li class="nav-item">
                        <a class="nav-link text-light font-weight-bold" href="#equipe">Sobre</a>
                    </li>
                </div>
            </ul>
            <div *ngIf='auth.btnLogin()'>
                <div>
                    <a class="nav-link text-light font-weight-bold pl-0" routerLink='/login'>Entrar</a>
                </div>
            </div>
            <div *ngIf='auth.btnLogin()'>
                <div>
                    <button class="btn btn-danger my-2 my-sm-0 rounded-pill font-weight-bold cadastro" type="button" routerLink='/cadastrar'>Cadastre-se</button>
                </div>
            </div>
            <div *ngIf='auth.btnSair()'>
                <a class="nav-link text-light font-weight-bold pl-0" routerLink='/categoria'>Categoria</a>
            </div>
            <div *ngIf='auth.btnSair()'>
                <a class="nav-link text-light font-weight-bold pl-0" routerLink='/cadastro-servico'>Serviço</a>
            </div>
            <div *ngIf='auth.btnSair()'>
                <a class="nav-link text-light font-weight-bold pl-0" (click)='sair()'>Sair</a>
            </div>
            <div *ngIf='auth.btnSair()'>
                <button class="btn btn-danger my-2 my-sm-0 rounded-pill" type="button " routerLink='/servico'>Contrate um artista</button>
            </div>
        </div>
    </nav>
</div>