.navbar-color {
    background-color: #D73146;
}

.logo {
    width: 150px;
    height: 40px;
}

.btn-danger {
    color: #ffffff;
    background-color: #73C1B8;
    border-color: #73C1B8;
}

a {
    cursor: pointer;
}

.cadastro:hover {
    background: #20115F;
    border-color: #20115F;
}