/* You can add global styles to this file, and also import other style files */


html {
    scroll-behavior: smooth;
}

@import url("https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css");
* {
    font-family: "Roboto", sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body::-webkit-scrollbar {
    width: 0.65rem;
}

body::-webkit-scrollbar-track {
    background: #20115F;
}

body::-webkit-scrollbar-thumb {
    background: #D73146;
}